<h1 style="margin-left: 2%; margin-top: 2%; font-weight: 650">Fitness Videos</h1>
<div class="container" style="margin-top: 3%;">
    <div class="row">
        <div class="col-md-4">
            <iframe [class.thumbnail]="thumbnail" [src]="safeSrcVideo1" width="97%" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen
            allowfullscreen></iframe>
            <p style="font-size: 17px; font-weight: 400;">The Best Workout for your body type</p>
        </div>
        <div class="col-md-4">
            <iframe [class.thumbnail]="thumbnail" [src]="safeSrcVideo2" width="97%" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen
            allowfullscreen></iframe>
            <p style="font-size: 17px; font-weight: 400;">How to Lose Fat the Right Way</p>
        </div>
        <div class="col-md-4">
            <iframe [class.thumbnail]="thumbnail" [src]="safeSrcVideo3" width="97%" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen
            allowfullscreen></iframe>
            <p style="font-size: 17px; font-weight: 400;">Do this Exercise EveryDay for Gains</p>
        </div>
    </div>
    <div class="row" style="margin-top: 5%;">
        <div class="col-md-4">
            <iframe [class.thumbnail]="thumbnail" [src]="safeSrcVideo4" width="97%" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen
            allowfullscreen></iframe>
            <p style="font-size: 17px; font-weight: 400;">No Time for Gym - What to do now?</p>
        </div>
        <div class="col-md-4">
            <iframe [class.thumbnail]="thumbnail" [src]="safeSrcVideo5" width="97%" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen
            allowfullscreen></iframe>
            <p style="font-size: 17px; font-weight: 400;">The Best Science Based Diet for Fat Loss</p>
        </div>
        <div class="col-md-4">
            <iframe [class.thumbnail]="thumbnail" [src]="safeSrcVideo6" width="97%" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen
            allowfullscreen></iframe>
            <p style="font-size: 17px; font-weight: 400;">17 Muscle Building Foods</p>
        </div>
    </div>
    <div class="row" style="margin-top: 5%; margin-bottom: 3%;">
        <div class="col-md-4">
            <iframe [class.thumbnail]="thumbnail" [src]="safeSrcVideo7" width="97%" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen
            allowfullscreen></iframe>
            <p style="font-size: 17px; font-weight: 400;">Full Day Diet Plan For Muscle Gain</p>
        </div>
        <div class="col-md-4">
            <iframe [class.thumbnail]="thumbnail" [src]="safeSrcVideo8" width="97%" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen
            allowfullscreen></iframe>
            <p style="font-size: 17px; font-weight: 400;">The Only 7 Exercises Men Need to Build Muscles</p>
        </div>
        <div class="col-md-4">
            <iframe [class.thumbnail]="thumbnail" [src]="safeSrcVideo9" width="97%" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen
            allowfullscreen></iframe>
            <p style="font-size: 17px; font-weight: 400;">1This is How to Lose Fat</p>
        </div>
    </div>
</div>