<div class="outer-container">
    <div class="bg"></div>
    <div class="login-page">
        <flash-messages></flash-messages>
        <div class="form" style="opacity: 1.0;">
            <p style="text-transform: uppercase; font-size: 22px; letter-spacing: 0.15em; font-weight: 30;">Reset
                Password</p>
            <form class="sign-in" [formGroup]="resetPasswordForm" (ngSubmit)="resetPasswordHandler()">
                <div class="form-group">
                    <label for="staticGender" class="col-form-label"><span>Security Question</span></label>
                    <p>{{securityQuestion}}</p>
                </div>
                <div class="form-group">
                    <input type="text" formControlName="answer" placeholder="Answer:">
                    <div *ngIf="getAnswer.invalid && (getAnswer.touched || getAnswer.dirty)" style="margin-top: -7%;">
                        <small *ngIf="getAnswer.errors?.required" class="text-danger">Answer is
                            required</small>
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" formControlName="password" placeholder="Password:">
                    <div *ngIf="getPassword.invalid && (getPassword.touched || getPassword.dirty)"
                        style="margin-top: -7%;">
                        <small *ngIf="getPassword.errors?.required" class="text-danger">Password is
                            required</small>
                        <small *ngIf="getPassword.errors?.pattern" class="text-danger">Password Should match
                            the pattern</small>
                    </div>
                </div>

                <button type="submit" class="bttn btn-1" [disabled]="resetPasswordForm.invalid">Submit</button>
            </form>
        </div>
    </div>
</div>