<div class="bg">
    <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
                <!-- <h1 class="display-4">ABOUT GET FIT</h1> -->
                <p class="lead mb-0 text-dark "></p>
                <p class="lead text-dark font"><a class="text-muted">
                    </a>
                </p>
            </div>
            <div class="col-lg-6 d-none d-lg-block"><img src="" alt="" class="img-fluid"></div>
        </div>
    </div>
</div>

<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row no-gutters bg-light">

            <div class="col-lg-6 order-lg-2 text-white showcase-img"
                style="background-image: url('assets/images/aboutUsGraph.png');">
            </div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Impressive Performance Graphs</h2>
                <p class="lead mb-0">We Provide you with very Impressive and User Friendly graphs that make it easy for
                    you to understand
                    how you are performing and how your exercise schedule is going between daily, weekly and monthly
                    cycles.
                </p>
            </div>
        </div>
        <div class="row no-gutters bg-light">
            <div class="col-lg-6 text-white showcase-img"
                style="background-image: url('assets/images/aboutUsDiet.jpg');">
            </div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Best Diet/Fitness Balance</h2>
                <p class="lead mb-0">the site has a nutritional plan with a winning combination of food choices: You'll
                    eat plenty of produce and
                    protein on this plan — a combo that keeps you satisfied and fueled for workouts. However, know that
                    calorie ranges of meals vary \
                    widely, so you'll want to keep track. Potential "Biggest Losers" be aware: If you're clinically
                    obese like the show's contestants,
                    you shouldn't begin any diet or exercise routine without a doctor's supervision.</p>
            </div>
        </div>
        <div class="row no-gutters bg-light">
            <div class="col-lg-6 order-lg-2 text-white showcase-img"
                style="background-image: url('assets/images/aboutUsExercise.jpg');">
            </div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Promise to get you Desired Results</h2>
                <p class="lead mb-0">Our exercise expert thought that more guidance (like instructions on tracking your
                    target heart rate and
                    weight recommendations for strength exercises) would be needed for this site to be a good place for
                    a beginner to learn.
                    The site also has a lot of information on nutrition, including a custom meal plan and daily
                    recommended calorie intake based
                    on your profile and fitness plan.</p>
            </div>
        </div>
    </div>
</section>

<div class="bg-light py-5">
    <div class="container py-5">
        <div class="row mb-4 justify-content-center" style="margin-left: 10%;">
            <div class="col-lg-5">
                <h2 class="display-4 font-weight-light">Our Team</h2>
                <p class="font-italic text-muted">Working Every Minute to Deliver You.</p>
            </div>
        </div>

        <div class="row text-center">
            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="https://instagram.fblr8-1.fna.fbcdn.net/vp/15e08d1e11f0b77af32ea6c20aac5315/5E605BF0/t51.2885-19/s320x320/60135337_1138573416324635_4287659860117422080_n.jpg?_nc_ht=instagram.fblr8-1.fna.fbcdn.net" alt=""
                        width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Chirag Dhussa</h5><span class="small text-uppercase text-muted">CEO -
                        Founder</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                    class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            

            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="https://instagram.fblr8-1.fna.fbcdn.net/vp/590d6ce4f0469387e18871ebf546efcb/5E56E039/t51.2885-19/s320x320/22070095_2343327312559851_6384984814155464704_n.jpg?_nc_ht=instagram.fblr8-1.fna.fbcdn.net" alt=""
                        width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Manish Verma</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                    class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="https://instagram.fblr8-1.fna.fbcdn.net/vp/5b9407d81622b6162dc76082aa4a63c8/5E4B4F55/t51.2885-19/s320x320/71043350_394992977840445_4285427177203171328_n.jpg?_nc_ht=instagram.fblr8-1.fna.fbcdn.net" alt=""
                        width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Rahul Premani</h5><span class="small text-uppercase text-muted">CEO -
                        Founder</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                    class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="https://instagram.fblr8-1.fna.fbcdn.net/vp/8fa13a51aadea28d702756b09091d91e/5E64E5F3/t51.2885-19/s320x320/69127686_380409299548863_7605905452173361152_n.jpg?_nc_ht=instagram.fblr8-1.fna.fbcdn.net" alt=""
                        width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Ajay Shukla</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                    class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

            
                <div class="col-xl-3 col-sm-6 mb-5" style="margin-left: 12%;">
                    <div class="bg-white rounded shadow-sm py-5 px-4"><img
                            src="https://instagram.fblr8-1.fna.fbcdn.net/vp/c35674ef0c832ffc593a8e96b8ace932/5E4F7072/t51.2885-19/s320x320/71281304_2437743303181885_5603673079818485760_n.jpg?_nc_ht=instagram.fblr8-1.fna.fbcdn.net" alt=""
                            width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0">Kashyap Koul</h5><span class="small text-uppercase text-muted">CEO -
                            Founder</span>
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a href="#" class="social-link"><i
                                        class="fa fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i
                                        class="fa fa-twitter"></i></a>
                            </li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i
                                        class="fa fa-instagram"></i></a>
                            </li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i
                                        class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4"><img
                            src="https://res.cloudinary.com/mhmd/image/upload/v1556834133/avatar-1_s02nlg.png" alt=""
                            width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0">Vaishnavi</h5><span class="small text-uppercase text-muted">CEO -
                            Founder</span>
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a href="#" class="social-link"><i
                                        class="fa fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i
                                        class="fa fa-twitter"></i></a>
                            </li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i
                                        class="fa fa-instagram"></i></a>
                            </li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i
                                        class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4"><img
                            src="https://res.cloudinary.com/mhmd/image/upload/v1556834133/avatar-1_s02nlg.png" alt=""
                            width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0">Indrajeet Singh</h5><span class="small text-uppercase text-muted">CEO -
                            Founder</span>
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a href="#" class="social-link"><i
                                        class="fa fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i
                                        class="fa fa-twitter"></i></a>
                            </li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i
                                        class="fa fa-instagram"></i></a>
                            </li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i
                                        class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            
            <!-- End-->

        </div>
    </div>
</div>