body{
    margin: 0px;
    height: 100%;
 }
 form{
    padding: 0px;
    margin: 0px;
}
.first{
    background-image : linear-gradient(to right, rgba(237,37,83) , rgba(244,124,151));
    /* background-image: url('src/assets/images/poly-image.jpg'); */
    padding-top: 100px;
    height: 300px;
}
.title-first{
    font-size: 60px;
    margin-top: -10px;
    font-family: 'Averta-bold';
    font-weight: 650;
    text-align: center;
    color: #FFF;
}
.msg{
    margin-top: 15px;
    text-align: center;
    color: #FFF;
    font-size: 17px;
}
section{
    position: relative;
    padding-top: 100px;
    width: 100%;
    height: 100%;
}
.second {
    background-color: #ffffff;
    height: 100%;
}
#form_setup {
    width: 75%;
}
.title-second {
    margin-top: -50px;
    margin-bottom: 20px;
    font-size: 37px;
    font-weight: 650;
    text-align: center;
    margin-bottom: 40px;
    display: block;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
    color: #333333;
}
button:disabled{
    color: white;
    opacity: 0.7;
    background-color:#f05075;
    border-color: #f05075;
    border-radius: 10px;
    border: 0;
}
button {
    color: white;
    background: none;
    background-color:#ed2553;
    border-color: #ed2553;
    font: inherit;
    line-height: 1;
    padding: 1em 2em;
    border-radius: 10px;
    border: 0;
}
#image-contact {
    height: 315px;
    width: 100%;
}
.contact-pic {
    margin-top: 58px;
    animation: contact-pic ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    float:left;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.contact-pic img {
    border: 5px solid #f8f8f8;
    display: block;
}
.contact-pic:after {
    content: '';
    position: absolute;  
    width: 20px; height: 20px;  
    border: 1px solid #999;
    top: -10px; left: 50%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}
/* nail */
.contact-pic:before{
    content: '';
    position: absolute;
    width: 6px; height: 6px;
    top: -14px;left: 52%;
    z-index: 5;
    border-radius: 50% 50%;
    background: #000;
}
@keyframes contact-pic {
    0% { transform: rotate(7deg); }
    100% { transform: rotate(-7deg); }
}
input {
    height: 45px;
    width: 100%;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
    padding: 24px 39px;
    border-radius: 15px;
    font-size: 16px;
    display: block;
    line-height: 1.5;
    border: none;
    outline: none;
    background: #e6e6e6;
    color: #333333;
    box-shadow:none !important;
    margin-bottom: 10px;
}
textarea {
    min-height: 150px;
    border-radius: 20px;
    padding: 14px 25px;
    width: 100%;
    font-size: 16px;
    display: block;
    line-height: 1.5;
    border: none;
    background: #e6e6e6;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
    color: #333333;
    margin-bottom: 0px;
    outline: none;
    box-shadow:none !important;
}
input:focus {
    background-color: #e6e6e6;
    color: #333333;
}
textarea:focus {
    background-color: #e6e6e6;
    color: #333333;
}
label {
    text-align: left;
    margin-left: 5px;
    margin-bottom: -10px;
}
form {
    width: 500px;
    margin: 0 auto;
}
div {
    margin-bottom: 20px;
}
.input-wrapper {
    display:inline-block;
    position: relative
}
.input-wrapper:after {
    font-family: 'FontAwesome';
    content: '\f007';
    position: absolute;
    margin-top: 150px;
    margin-right: 150px;
}
#faicon{
    position: absolute;
    margin-top: 15px;
    margin-left: 16px;
}
#faicon2{
    position: absolute;
    margin-top: 11px;
    margin-left: 16px;
}
#gmap_canvas{
    margin-top: 8px;
    width: 100%;
    height: 100%;
}
.office-icon{
    padding-right: 10px;
    margin-top: -162px;
    margin-left: 40px;
}
.registered_office.reg_off{
    float: left;
    padding: 20px 0 0 20px;
}
.reg_off{
    line-height: 1.0;
    font-weight: 450;
}
strong {
    font-family: "sky_textbold", Tahoma, Arial;
    font-weight: normal;
    color: #666666;
    font-size: 18px;
    line-height: 1.6;
}