<section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
                <!-- <fa-icon class="m-auto text-primary" [icon]="faDesktop"></fa-icon> -->
                <i class="m-auto text-primary"><fa-icon style="color: #ED2553;" [icon]="faEdit" size="sm" ></fa-icon></i>
                 
            </div>
            <h3>Customize Workout Plan</h3>
            <p class="lead mb-0">Get Fit offers you with really customizable workout plans with an option of extending it to 
              Premium where you can learn and explore your fitness hunger.
            </p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="m-auto text-primary"><fa-icon style="color: #ED2553;" [icon]="faChartLine" size="sm"></fa-icon></i>
            </div>
            <h3>Track & Analyze</h3>
            <p class="lead mb-0">We provide you with user friendly charts and graphs that help you track your progress.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="m-auto text-primary"><fa-icon style="color: #ED2553;" [icon]="faBriefcase" size="sm"></fa-icon></i>
            </div>
            <h3>Go Premium</h3>
            <p class="lead mb-0">Get fitness videos and wonderful background music while you workout. </p>
          </div>
        </div>
      </div>
    </div>
  </section>

<!--Image Showcase-->
<section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">

        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/images/icons/bg-showcase-1.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Customized Workout Plan</h2>
          <p class="lead mb-0">Create your own workout plan based on your body type and in accordance with your free time and the goals you would like to accomplish.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url('assets/images/icons/bg-showcase-2.jpg');"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>Track & Analyze</h2>
          <p class="lead mb-0">Getting fit and staying healthy isn't easy. Get Fit lets you track and summarize your activities to motivate you week after week . With Get Fit you can use your device to log your activities and sync them right into your personal fitness dashboard.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/images/icons/bg-showcase-3.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Go Premium</h2>
          <p class="lead mb-0">Get everything included in Get Fit .
            Select a coach who can help you reach your goals .
           Get a customized nutrition plan built for you
           Follow workouts made specifically for you.
           Receive daily accountability and personalized guidance from your coach to make sure you're on track.
           Get help from your coach any time you need it.</p>
        </div>
      </div>
    </div>
  </section>