
.go{
    margin-left: 10%;
}

.pricing .card {
    border: 1px solid #000;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(189, 179, 179, 0.1);
}

.pricing hr {
    margin: 1.5rem 0;
}

.pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
}

.pricing .card-price {
    font-size: 3rem;
    margin: 0;
}

.pricing .card-price .period {
    font-size: 0.8rem;
}

.pricing ul li {
    margin-bottom: 1rem;
}

.pricing .text-muted {
    opacity: 0.7;
}

.pricing .btn {
    font-size: 80%;
    border-radius: 3rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    font-size: large;
    opacity: 0.85;
    transition: all 0.2s;
    background: #eceff1;
    background: linear-gradient(to right, rgba(237,37,83) , rgba(244,124,151))
}

/* Hover Effects on Card */

@media (min-width: 992px) {
    .pricing .card:hover {
        margin-top: -.25rem;
        margin-bottom: .25rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(160, 74, 74, 0.3);
    }
    .pricing .card:hover .btn {
        opacity: 1;
    }
}

