@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  padding: 8% 0 0; 
}
.form {
  opacity: 1;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.bttn{
  font-family: "Roboto", sans-serif;
  flex: 1 1 auto;
  border: 0;
  font-size: 14px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  outline: 0;
  transition: 0.5s;
  width: 100%;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
}
.btn-1{
  background-image : linear-gradient(to right, #ed2553 0%, #FFFFFF 51%, #ed2553 100%);
}
button:hover:enabled{
  background-position: right center;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #ed2553;
  text-decoration: none;
}
.form .sign-up {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto ;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
.outer-container{
  position: relative;
  z-index: 1;
  height: 100%; 
  padding-bottom: 1%;
  background-size: cover;
  background-repeat: no-repeat;
}
.outer-container .bg{
  position: absolute;
  z-index: -1;
  background-image: url('/assets/images/back.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .6;
  width: 100%;
  height: 100%;
}
a:hover{
  cursor: pointer;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#forgot{
  margin: 15px 0 0;
  font-size: 12px;
  color: #ed2553;
  text-decoration: none;
}