<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        <ul class="list-inline mb-2">
          <li class="list-inline-item">
            <a [routerLink]="'/features'" routerLinkActive = "active">Features</a>
          </li>
          <li class="list-inline-item" style="color: white;">&sdot;</li>
          <li class="list-inline-item" routerLinkActive = "active">
            <a [routerLink]="'/about-us'">About Us</a>
          </li>
          <li class="list-inline-item" style="color: white;">&sdot;</li>
          <li class="list-inline-item" routerLinkActive = "active">
            <a [routerLink]="'/contact-us'">Contact Us</a>
          </li>
          </ul>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fa fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fa fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    <p class=" small mb-4 mb-lg-0">&copy; Get Fit 2019. All Rights Reserved.</p>
  </div>
</footer>